.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 92px 24px 97px;
}

.header_menu {
  grid-column: 1/6;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.header_links-list-item {
  list-style: circle;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4.3px;
}

.header_link_active {
  text-decoration: none;
  pointer-events: none;
}

.heder_logo {
  display: block;
  grid-column: 6/8;
  justify-self: center;
  width: 137px;
  height: 105px;
}

.header_logo-image {
  object-fit: cover;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: self-end;
  max-width: 240.5px;
  padding-bottom: 2px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4.3px;
}

.header_address {
  grid-column: 10/13;
}

.cover {
  position: relative;
  z-index: 0;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 164px 50px 136px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover_description {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 51px 78px;
}

.cover_description-text {
  position: relative;
  z-index: 2;
  padding-top: 11px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127.5%;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 256px;
  min-height: 51px;
  border: 1px solid rgb(255, 255, 255);
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127.5%;
  text-transform: uppercase;
  background-color: transparent;
}

button:hover {
  box-shadow: inset 0 0 0 2px #f7fcff;
  color: #c5cece;
  background: rgba(209, 203, 203, 0.243);
}

.lots {
  position: relative;
  margin: 178px 0px 0px;
}

.lots_heading {
  min-width: 121px;
  padding: 0px 65px 27px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0px 24px 28px;
  list-style: none;
}

.lots_card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  min-height: 563px;
}

.card-link {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots_look-more-link {
  position: relative;
  padding-top: 29px;
  padding-left: 65px;
  font-weight: 400;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4.5px;
}

.about {
  margin: 183px 24px 0px;
}

.about_column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: min-content min-content;
  row-gap: 10px;
  column-gap: 25px;
}

.about_logo {
  position: relative;
  z-index: 1;
  grid-column: 1/2;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about_logo-image {
  padding: 63px 45px;
}

.about_title {
  position: relative;
  grid-column: 2/3;
  align-self: center;
  padding-top: 12px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  gap: 23px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.076px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 182px 50px 88px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4.3px;
}

.footer_address {
  grid-column: 1/2;
  justify-self: flex-start;
}

.footer_menu {
  grid-column: 2/3;
}

.footer_menu-list {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  grid-column: 3/4;
  justify-self: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}